body{
background-color: rgb(36,36,36);
background-image: url(backgroudn.png);

}

.buttons {
  max-width: 550px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba(24,24,24,.5);

}
.buttons button {
  width: 100%;
  text-align: left;
table-layout: fixed;
  background-color: rgb(64,98,138);
  color: white;
  border-color: rgb(39,39,39);
  border-style: solid;
}
.buttons button:hover {
background-color: rgb(72,110,156);
cursor: pointer;
.buttons button:
}
.buttons button:focus{
outline:white;

}
.numbers {
table-layout: fixed;
}
.numbers button {
width:100%
text-align: left;
background-color: rgb(64,98,138);
color: white;
border-color: rgb(39,39,39);
border-radius: 1px;
border-style: solid;
}

.numbers button:hover {
background-color: rgb(72,110,156);
cursor: pointer;
}
.numbers button:focus{
outline:0;
}
.negative {
text-align: right;
table-layout: fixed;
}
.negative button {
width:100%
text-align: right;
background-color: rgb(64,98,138);
color: white;
border-color: rgb(39,39,39);
border-radius: 1px;
border-style: solid;
}

.negative button:hover {
background-color: rgb(72,110,156);
cursor: pointer;
}
.negative button:focus{
outline:0;
}


#dispenser{
z-index: 1;
left:39%;
right:35%;
width:420px;
}
#chemical{
z-index: -2;
position: absolute;
left: 34%;
right: 34%;
display:block;
width:440px;
background-color: rgb(36,36,36);
/*background-image: url(12497.jpg);*/

}
#back{
z-index: -1;
position: fixed;
top: 17%;
left: 38.5%;
width: 325px;

}
#removal{
background-color: rgba(24,24,24,.50);



}
p {
  color: rgb(64,98,138);
  font-family: "Arial", Helvetica, sans-serif;


}
p.white{
color: #FFFFFF;

}
table{
align-items: center;

align-self: center;
align-content: center;

}
hr {
width: 98%;
border-width: 2px;
top:1%;
}
